* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    overflow-x: hidden;
    background-color: #fff;
}

.video-container {
    position: relative;
    width: 98%;
    height: 100%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    
    border-radius: 10px; /* Adjust the value as needed */
    
    /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}

.trailer {
    width: 100%;
    border-radius: 10px;
}

.trailer::-webkit-media-controls {
    display: none;
}

.overlay-content {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 100%;
    color: white;
    font-size: 24px;
    z-index: 0;
    transition : 1s ease-in-out;
    opacity: 1;
}

.overlay-content img{
    height: 265px;
    width: 362.21px;
    transition : 1s ease-in;
}

.customPlay-controls {
    display : flex;
    position: absolute;
    top : 68%;
    left: 5%;
    background-color: rgba(100, 100, 100, 0.3);
    padding: 10px;
    border-radius: 25px;
    align-items: center;
    flex-direction: row;
    z-index: 4;
    transition: 1s ease-out;
}

.customPlay-controls button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 5px;
}

.customInfo-controls {
    display : flex;
    position: absolute;
    top : 68%;
    left: 16%;
    background-color: rgba(100, 100, 100, 0.3);
    padding: 10px;
    border-radius: 25px;
    align-items: center;
    flex-direction: row;
    z-index: 4;
    transition: 1s ease-out;
}

.customInfo-controls button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 5px;
}

.play-control{
    display : flex;
    flex-direction: row;
    justify-content: center;
    top : 72%;
    left: 0;
    padding: 0;
    margin : 0;
}

.play-button{
    display: flex;
    width: 20px;
    margin-left: 20px;
    margin-right: 5px;
}

.information-control{
    display : flex;
    flex-direction: row;
    justify-content: center;
    top : 72%;
    left: 0;
    padding: 0;
    margin : 0;
    width: 100%;
}

.information-control img{
    width: 20px;
    margin-left: 20px;
    margin-right: 5px;
}

.customPlay-controls span{
    display: flex;
    background-color : rgba(100, 100, 100, 0.7);
    height : 100%;
    width : 0;
    border-radius: 25px;
    position : absolute;
    left : 10%;
    bottom : 0;
    transition: 0.5s ease-out;   
    z-index: -4;   
}

.customPlay-controls:hover span{
    width: 100%;
    transform: translateX(-10%);
}

.customInfo-controls span{
    display: flex;
    background-color : rgba(100, 100, 100, 0.7);
    height : 100%;
    width : 0;
    border-radius: 25px;
    position : absolute;
    left : 10%;
    bottom : 0;
    transition: 0.5s ease-out;   
    z-index: -4;   
}

.customInfo-controls:hover span{
    width: 100%;
    transform: translateX(-10%);
}

body::-webkit-scrollbar {
    display: none;
}

/* dari sini , line 29 jg*/

#iklan{
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    height: 0;
    width: 60%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    z-index: 20;
    overflow-y: scroll;
    background-color: #102528;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset, rgba(0, 0, 0, 0.5) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: 1s;
    overflow-x: hidden;
}


#iklan-bungkus{
    display : block;
    height: 100%;
    width: 100%;
    padding : 15px;
    
    /* scrollde */
}

#video::-webkit-scrollbar {
    display: none;
}

#video-inside::-webkit-media-controls {
    display: none;
}

#inside-out-description{
    width: 100%;
    color :white;
    flex-direction: row;
}

#iklan::-webkit-scrollbar {
    display: none;
}

.trailer-inside{
    display: block;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    top : 0;
    border-radius: 10px 10px 0 0; /* Adjust the value as needed */
    overflow: hidden;
}

#overlay {
    display :flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* Adjust opacity as needed */
    z-index: -9; /* Ensure the overlay is behind other content */
    transition : 1s;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 30px;
    background-color: #cccccc30;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
    transition : 0.2s ease-in-out;
    
}

.close-btn:hover{
    color:#ffffff50;
}

.no-scroll {
    overflow: hidden;
}

.description-container{
    display : flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    padding-bottom: 40px;
}

.left-desc{
    display : flex;   
    width: 100%;
    flex-direction: column;    
}

.movie-year-duration{
    display : flex;
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: 5px;
    flex-direction: row;
    font-weight:400;
    font-size: 16px;
    color :#ccc;
}

.movie-year-duration p{
    margin-right: 15px;
}

.movie-age-rating{
    margin-left: 30px;
    padding : 0px 10px;
    flex-direction: column;
    width: 20px;
    border-style: solid ;
    border-width : 1.5px 1.5px 1.5px 1.5px; 
    border-radius: 10px;
    border-color: #ccc;
    background-color: #cccccc05;
}

.movie-age-border{
    flex-direction: column;
    font-weight:500;
    font-size: 16px;
    color :#ccc;
}

.movie-synopsis{
    margin : 30px;
    margin-top: 20px;
    margin-right: 50px;
    text-align: justify;
}

.right-desc{
    display : flex;
    width: 50%;
    flex-direction: column;    
}

.tulisan-pemeran, .tulisan-genre{
    margin-top: 25px;
    color : #ccc;
}

.pemeran, .genre{
    display : flex;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 35px;
    flex-direction: row;
    font-weight:400;
    font-size: 16px;
    color :#fff;
    text-align: justify;
}