.upcoming-container{
    margin : 15px;
    margin-left: 20px;
    margin-right : 20px;
}

.upcoming-title{
    font-size: 30px;
    margin: 15px;
    font-weight: 650;
    letter-spacing: 0px;
}

.movie-list{
    display : flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

/* ganti dari sini */

.monkey-more-poster img, .despicable-more-poster img, .apes-more-poster img, .garfield-more-poster img, .sonic-more-poster img{
    width: 270px;
    height: 150px;
    border-radius: 10px;
}

.monkey-more-container, .despicable-more-container, .apes-more-container, .garfield-more-container, .sonic-more-container{
    position: relative;
    margin-bottom: 20px;
}

.monkey-more-poster, .despicable-more-poster, .apes-more-poster, .garfield-more-poster, .sonic-more-poster {
    position: relative; /* Ensure relative positioning for the container */
    width: 270px;
    border-radius: 10px;
    z-index: 1;
}

#monkey-more-pop-up, #despicable-more-pop-up, #apes-more-pop-up, #garfield-more-pop-up, #sonic-more-pop-up{
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    height: 150px;
    max-height: 370px; /* Set maximum height */
    background-color: #102528;
    border-radius: 10px;
    z-index: 0;
    overflow: hidden; /* Hide overflow content */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange items vertically */
    opacity : 1;
    transition: 0.2s ease-out;
}

.monkey-pop-up-poster, .despicable-pop-up-poster, .apes-pop-up-poster, .garfield-pop-up-poster, .sonic-pop-up-poster{
    display : flex;
}

.monkey-pop-up-poster img, .despicable-pop-up-poster img, .apes-pop-up-poster img, .garfield-pop-up-poster img, .sonic-pop-up-poster img {
    max-width: 100%; /* Set maximum width to 100% */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px 10px 0 0; /* If you want to maintain border radius */
    transition: 0.5s;
}

#monkey-more-pop-up p, #despicable-more-pop-up p, #apes-more-pop-up p, #garfield-more-pop-up p, #sonic-more-pop-up p{
    z-index: 2;
    color: #ddd;
    font-size: 18px;
}

.monkey-pop-up-navigation, .despicable-pop-up-navigation, .apes-pop-up-navigation, .garfield-pop-up-navigation, .sonic-pop-up-navigation {
    display: flex;
    flex : 1;   
    flex-direction: row;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
}

.monkey-pop-up-info, .despicable-pop-up-info, .apes-pop-up-info, .garfield-pop-up-info, .sonic-pop-up-info{
    align-content:center;
    width: 100%;
}

.monkey-movie-title, .despicable-movie-title, .apes-movie-title, .garfield-movie-title, .sonic-movie-title{
    font-weight: 500;
    margin-top: 3px;
    margin-bottom: 3px;
}

.monkey-movie-duration, .despicable-movie-duration, .apes-movie-duration, .garfield-movie-duration, .sonic-movie-duration{
    margin-bottom: 3px;
}

.monkey-minimum-age, .despicable-minimum-age, .apes-minimum-age, .garfield-minimum-age, .sonic-minimum-age{
    margin-top: 4px;
    display : flex;
    justify-content: center;
    padding-left: 3px;
    padding-right: 3px;
    background-color :#cccccc05;
    border-style: solid ;
    border-width : 1.5px 1.5px 1.5px 1.5px; 
    border-radius: 10px;
    width: 40px;
}

.monkey-pop-up-more-info, .despicable-pop-up-more-info, .apes-pop-up-more-info, .garfield-pop-up-more-info, .sonic-pop-up-more-info{
    display : flex;
    width: 15%;
    flex-wrap : wrap;
    align-content: center;
    transition: 0.5s;
}

.monkey-pop-up-more-info img, .despicable-pop-up-more-info img, .apes-pop-up-more-info img, .garfield-pop-up-more-info img, .sonic-pop-up-more-info img{
    width: 40px;
    height: 40px;
}

.iklan{
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    height: 0;
    width: 60%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    z-index: 20;
    overflow-y: scroll;
    background-color: #102528;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset, rgba(0, 0, 0, 0.5) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: 1s;
    overflow-x: hidden;
}


.iklan-bungkus{
    display : block;
    height: 100%;
    width: 100%;
    padding : 15px;
    
    /* scrollde */
}

.iklan::-webkit-scrollbar {
    display: none;
}

.trailer-movie{
    width : 100%;
}

.trailer-movie::-webkit-media-controls {
    display: none;
}

.min-age-rating{
    margin-left: 30px;
    color : #ccc;
}

.min-age-border{
    display : flex;
    justify-content: center;
    align-content: center;
    border : 1.5px solid;
    border-radius: 10px;
    width : 40px;
    background-color: #cccccc05;
}












.test-poster img{
    width: 270px;
    border-radius: 10px;
}

.test-container {
    position: relative;
    margin-bottom: 20px;
}

.test-poster {
    position: relative; /* Ensure relative positioning for the container */
    width: 270px;
    border-radius: 10px;
}