
.button-container{
    margin-top: 70px;
    margin-bottom: 30px;
    width : 100%;
    height: 35px;
    display : flex;
    justify-content: center;
}

#view-more-new-movie{
    width : 40%;
    height : 100%;
}
 
#view-more-new-movie p{
    font-size: 18px;
}

#view-more-new-movie{
    background: transparent;
    border: none;
    border-bottom: 2px solid #1b4248;
    transition : 0.5s;
}

#view-more-new-movie:hover{
    background : #9d824815;
    border: none;
    border-bottom: 2px solid;
    width : 38%;
    border-radius: 50px;
}

.another-new-movie {
    display: flex;
    flex-direction: column;
    height: 0; /* Start with a height of 0 */
    width: 100%;
    overflow: hidden;
    transition: height 0.5s ease-in-out; /* Reduced transition duration */
    margin : 5px;
}

.another-new-movie p{
    font-size: 36px;
    width : 100%;
    display : flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}


.another-new-movie img {
    width: 225px;
    height: 355.22px;
    border-radius: 10px;
}

.col-1{
    display : flex;
    justify-content: center;
}

.poster-img{
    position: relative;
    margin : 7px;
}

.poster-img::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 225px;
    height: 355.22px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px; /* Add border-radius here */
    z-index: 10;
    opacity: 0; /* Initially hide the overlay */
    transition: opacity 0.3s ease; /* Add transition for smooth effect */
}



.poster-img:hover .caption {
    height: 355.22px;
    opacity: 1; /* Show the overlay on hover */
}

.caption {
    position: absolute;
    width: 225px;
    height: 0;
    bottom : 4px;
    border-radius: 10px;
    opacity: 0;
    background-image: linear-gradient(#00000000, #000000);
    transition: opacity 0.3s ease, height 0.5s ease-in-out;
}

.isi-caption{
    display : flex;
    justify-content: center;
    color: white;
    padding: 8px 10px;
    border-radius: 25px;
    text-align: center;
    font-size: 18px;
    height: 100%;
    transform: translateY(70%);
    opacity: 1;
    transition: opacity 0.3s ease, width 0.5s ease-in-out;
}